.flight-details-div {
	width: 1200px;
	margin-top:20px;
	height: 180px;
	color: #222;
	padding: 10px;
	padding-left: 20px;
	font-size: 10px;
}

.flight-details-div h1, h2{
	font-size: 15px;
	font-weight: bold;
}

.tabStatsPanelHeader {
	font-size: 15px;
	font-weight: bold;
}